[contenteditable].form-control:focus,
[type='email'].form-control:focus,
[type='password'].form-control:focus,
[type='tel'].form-control:focus,
[type='text'].form-control:focus,
[type='checkbox'].form-control:focus,
input.form-control:focus,
input[type='email']:focus,
input[type='number']:focus,
input[type='password']:focus,
input[type='text']:focus,
textarea.form-control:focus,
textarea:focus,
.form-select:focus,
button:active,
button:focus,
custom-control-input:checked,
custom-control-input:not(checked),
.btn:focus {
    box-shadow: inset 0 0px 0 #ddd !important;
}
