.link-not-underlined{
    text-decoration: none !important;
}
.scrollbar::-webkit-scrollbar {
    width: .2rem !important;
}

.scrollbar::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.scrollbar::-webkit-scrollbar-thumb {
    background-color: #3b3b3b !important;
    outline: 1px solid #3b3b3b !important;
}


@media (max-width: 575.98px) {
    .breadcumHeader{
        font-size: 25px !important;
    }

    .bradcumNav{
        font-size: 20px !important;
    }
}
